//mobile FIRST

// Colors
$color-carotte: #E09132;
$color-vert-kaki: #4E614A;
$color-vert-clair: #455940;
$color-vert-sapin: #2E3C29;
$color-beige-creme: #FFEFCD;
$color-chocolat-lait: #A58E74;
$color-chocolate: #69462D;
$color-bc-clair: #697965;

.background-image-mentions {
  /*position: relative;
  z-index: 1;*/
  background-image: linear-gradient(to bottom, rgba(78, 97, 74, 0.1), rgba(78, 97, 74, 1)), url("/img/bg_img/marmottefrancis_flickr.png");
  background-size: cover;
  background-position: center;
  margin: -1rem 0 0 0;
}

.background-size {
  width: 100%;
  height: 648px;
}

.background-color {
  /* Remplace la couleur d'arrière-plan globale */
  background-color: transparent;
}

.h1para2-mentions {
  color: $color-beige-creme;
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  padding-top: 18rem;
  padding-bottom: 8rem;
  margin: 1rem 0 0 0;
}

.padding {
  padding: 2rem 0;
}

.backgroundleft {
  margin-left: 6rem;
}

.backgroundright {
  margin-right: 6rem;
}

.lettrine-mention {
  font-size: 2rem;
  color: $color-carotte;
  background-color: transparent;
}

.text-mention {
  text-align: justify;
  font-weight: 300;
}

.mention-legales {
  background-color: transparent;
  margin: 2rem 0;
}